.react-flowy__edge {
  &.selected {
    .react-flowy__edge-path {
      stroke: #555;
    }
  }

  &.animated path {
    stroke-dasharray: 5;
    animation: dashdraw 0.5s linear infinite;
  }

  &.updating {
    .react-flowy__edge-path {
      stroke: #777;
    }
  }
}

.react-flowy__edge-path {
  stroke: #b1b1b7;
  stroke-width: 1;
}

.react-flowy__edge-text {
  font-size: 10px;
}

.react-flowy__edge-textbg {
  fill: white;
}

.react-flowy__connection-path {
  stroke: #b1b1b7;
  stroke-width: 1;
}

.react-flowy__node {
  cursor: grab;
}

.react-flowy__minimap {
  background-color: #fff;
}

.react-flowy__controls {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.08);

  &-button {
    background: #fefefe;
    border-bottom: 1px solid #eee;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    user-select: none;
    padding: 5px;

    svg {
      max-width: 12px;
      max-height: 12px;
    }

    &:hover {
      background: #f4f4f4;
    }
  }
}
